header {
    background-color: navy;
    color: white;
    padding: 1em;
    
}

#name {
    display: flex;
    position: relative;
    top: 3em;
    flex-shrink: 1;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    flex-shrink: 1;
}

li, a {
    text-decoration: underline;
    list-style-type: none;
    color: white;
    font-size: 110%;
}

ul {
    display: flex;
    justify-content: space-around;
    width: 25%;
    flex-wrap: wrap;
    gap: 10px;
}

nav ul li a {
    padding: 20px;
}

nav ul li a:hover {
    color: red;
    background-color: beige;
    
}

.aboutMe {
   background-color: beige;
    
}

.aboutMe p {
    font-size: 120%;
}

.profile {
    background-color: beige;
}

#selfie {
    width: 15vw;
    display: flex;
    flex-shrink: 1;
}

.cards {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    
}

.card {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 1em;
    margin: 1em;
    background-color: beige;
    border: 1px dashed black;
    flex-shrink: 1;
}

.card:hover {
    background-color: lightblue;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card img {
    width: 20vw;
    display: flex;
    flex-shrink: 1;
}

.card img:hover {
    width: 25vw;
}



.card p, h3{
    font-size: 120%;
}


footer {
    background-color: navy;
    color: white;
    padding: 1em;
    top: 10em;
    display: flex;
    justify-content: flex-end;
    flex-shrink: 1;
}

#myInfo {
    display: flex;
    position: relative;
    right: 2em;
    flex-shrink: 1;
}

.contact {
    display: flex;
    width: 25vw;
    padding: 1em;
    flex-shrink: 3;
}